body{
    width: 100%;
}
header span img{
    width: 70px;
    height: 70px;
}
.homeContainer{
    width: 100%;
    background-image: url("/imgs/img3.png");
    background-size: cover;
    background-position: center;
    /* position: relative; */
    /* overflow: hidden; */
}
.nav-link {
    font-weight: bold;
}
.homeBody{
    text-align: center;
    color: rgb(255, 77, 0);
    font-weight: bold;
}
.homeBody small{
    color: blue;
    margin-left: -400px;
}
.homeBody .websiteName{
    color: blue;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}
.homeBody .test{
    color: blue;
    font-size: 20px;
    font-weight: normal;
    width: 60%;
    margin-left: 20%;
}
.homeBody button{
    color: white;
    background-color: rgb(42, 42, 242);
    cursor: pointer;
    border: none;
    border-radius: 20px;
    width: 140px;
    height: 35px;
}
.homeBody button a {
    text-decoration: none;
    color: white;
}
.particles i{
    animation: particle 7s linear infinite;
    width: 50px;
}
.particles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -20px;
}
@keyframes particle {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.particles i:nth-child(1){
    animation-delay: 2s;
}
.particles i:nth-child(2){
    animation-delay: 1s;
}
.particles i:nth-child(3){
    animation-delay: 4.5s;
}
.particles i:nth-child(4){
    animation-delay: 3s;
}
.particles i:nth-child(5){
    animation-delay: 2s;
}
.particles i:nth-child(6){
    animation-delay: 6s;
}
.particles i:nth-child(7){
    animation-delay: 7s;
}
.card-group{
    /* height: 1200px; */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    margin-left: 10%;
    margin-top: 5%;
}
.card-group .card img{
    width: 60px;
    height: 60px;
}
.card-group .card{
    /* position: relative; */
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0,0.5);
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(146, 146, 146, 0.5) ;
    border-left: 1px solid rgb(146, 146, 146, 0.5) ;
    backdrop-filter: blur(5px);
}
.card-group .card .content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.card-group .card .content h2{
    position: absolute;
    top: -35px;
    right: 30px;
    font-size: 8em;
    color:rgba(43, 43, 87, 0.205) ;
    pointer-events: none;
}
.card-group .card .content h3{
    font-size: 1.8em;
    color:rgba(5, 6, 83, 0.92) ;
    z-index: 1;
}
.card-group .card .content p{
    font-size: 1em;
    color:rgba(5, 6, 83, 0.92) ;
    font-weight: 400;
}
.card-group .card .content img{
    margin-left: 5%;
}
.footer {
    background-color:rgb(61, 61, 241) ;
    width: 100%;
    height: 50px;
    margin-bottom: 0%;
    /* position:absolute; */
    left: 0;
    bottom: 0;
}
.footer p {
    text-align: center;
    color: white;
}

