*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
}
.RegistrationContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}
header ul li a {
    font-weight: bold;
}
header span img{
    width: 70px;
    height: 70px;
}
/* Animation */
.bubbles{
    position: relative;
    display: flex;
    top: -40px;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgb(42, 42, 242);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow:
    0 0 50px rgb(42, 42, 242),
    0 0 100px rgb(42, 42, 242);
    animation: animate 15s linear infinite;
    animation-duration: 7s;
}
.bubbles span:nth-child(even){
    background-color: rgb(121,225,236);
    box-shadow:
    0 0 50px rgb(152, 218, 225),
    0 0 100px rgb(121,225,236);
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
.bubbles span:nth-child(1){
    animation-delay: 1s;
}
.bubbles span:nth-child(2){
    animation-delay: 0s;
}.bubbles span:nth-child(3){
    animation-delay: 6s;
}.bubbles span:nth-child(4){
    animation-delay: 4s;
}.bubbles span:nth-child(5){
    animation-delay: 3s;
}.bubbles span:nth-child(6){
    animation-delay: 5s;
}.bubbles span:nth-child(7){
    animation-delay: 2s;
}.bubbles span:nth-child(8){
    animation-delay: 3s;
}.bubbles span:nth-child(9){
    animation-delay: 1s;
}.bubbles span:nth-child(10){
    animation-delay: 2s;
}.bubbles span:nth-child(11){
    animation-delay: 4s;
}.bubbles span:nth-child(12){
    animation-delay: 8s;
}.bubbles span:nth-child(13){
    animation-delay: 3s;
}.bubbles span:nth-child(14){
    animation-delay: 1s;
}
.bubbles span:nth-child(15){
    animation-delay: 6s;
}.bubbles span:nth-child(16){
    animation-delay: 3s;
}.bubbles span:nth-child(17){
    animation-delay: 1s;
}.bubbles span:nth-child(18){
    animation-delay: 0s;
}.bubbles span:nth-child(19){
    animation-delay: 2s;
}
.bubbles span:nth-child(20){
    animation-delay: 4s;
}
.bubbles span:nth-child(21){
    animation-delay: 5s;
}
.bubbles span:nth-child(22){
    animation-delay: 0s;
}.bubbles span:nth-child(23){
    animation-delay: 6s;
}.bubbles span:nth-child(24){
    animation-delay: 4s;
}.bubbles span:nth-child(25){
    animation-delay: 3s;
}.bubbles span:nth-child(26){
    animation-delay: 5s;
}.bubbles span:nth-child(27){
    animation-delay: 2s;
}.bubbles span:nth-child(28){
    animation-delay: 5s;
}.bubbles span:nth-child(29){
    animation-delay: 1s;
}.bubbles span:nth-child(30){
    animation-delay: 2s;
}.bubbles span:nth-child(31){
    animation-delay: 4s;
}.bubbles span:nth-child(32){
    animation-delay: 6s;
}.bubbles span:nth-child(33){
    animation-delay: 3s;
}.bubbles span:nth-child(34){
    animation-delay: 5s;
}
.bubbles span:nth-child(35){
    animation-delay: 3s;
}.bubbles span:nth-child(36){
    animation-delay: 3s;
}.bubbles span:nth-child(37){
    animation-delay: 1s;
}.bubbles span:nth-child(38){
    animation-delay: 0s;
}.bubbles span:nth-child(39){
    animation-delay: 2s;
}
.bubbles span:nth-child(40){
    animation-delay: 4s;
}
/* Form Layout */
.form-wrapper {
    background: white;
    padding: 0 1em;
    max-width: 370px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0,0.5);
}
h1 {
    text-align: center;
    padding: 1em 0;
}
form {
    padding: 0 1.5em;

}
.form-item {
    
    margin-bottom: 0.75em;
    width: 100%;
}
.form-item input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
    border-radius: 15px;
}
.form-item input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}
.button-panel {
    margin: 2em 0 0;
    width: 100%;
}
#Sign_up{
    background-color: rgb(42, 42, 242);
    color: white;
    font-weight: bold;
}
#Sign_up:hover {
    background-color: rgb(12, 12, 81);
    color: #ffffff;
}
.form-footer {
    font-size: 1em;
    padding: 2em 0;
    text-align: center;
}
.form-footer .signBtn a{
    text-decoration: none;
    color: white;
}
.signBtn {
    width: 140px;
    height: 40px;
    margin-top: -40px;
    border: none;
    border-radius: 45%;
    background-color: rgb(42, 42, 242);
    font-weight: bold;
    color: white;
}
.signBtn:hover {
    background-color: rgb(12, 12, 81);
    color: #ffffff;
}
.form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    margin-left: 10%;
    margin-top: 2%;
}
/* footer */
footer {
    background-color:rgb(61, 61, 241) ;
    width: 100%;
    height: 30px;
    /* margin-top: 5%; */
    /* position:absolute; */
    left: 0;
    bottom: 0;
    margin-bottom: 0%;
}
footer p {
    text-align: center;
    color: white;
}
.alert.success {background-color: #04AA6D;}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
/* media query */
@media screen and (max-width:700px) {
    .bubbles span{
        width: 15px;
        height: 15px;
    }
}